services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my-sbis-app
    ports:
      - "127.0.0.1:${APP_PORT:-8000}:8000"
    volumes:
      - ./backend:/var/www/html/backend
      - ./frontend:/var/www/html/frontend
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./default.conf:/etc/nginx/sites-available/default
    restart: unless-stopped
    environment:
      - PHP_FPM_PM=dynamic
      - PHP_FPM_PM_MAX_CHILDREN=5
      - PHP_FPM_PM_START_SERVERS=2
      - PHP_FPM_PM_MIN_SPARE_SERVERS=1
      - PHP_FPM_PM_MAX_SPARE_SERVERS=3
      - SBIS_TOKEN=${SBIS_TOKEN}
      - IP_NAME=${IP_NAME}
      - IP_SURNAME=${IP_SURNAME}
      - IP_PATRONYMIC=${IP_PATRONYMIC}
      - IP_INN=${IP_INN}
